{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_username">Username:</label>
            <input type="text" name="username" maxlength="150" required>
            <br>
            <label for="id_password">Password:</label>
            <input type="password" name="password" maxlength="150" required>
            <br>
            <label for="id_password_confirmation">Confirm Password:</label>
            <input type="password" name="password_confirmation" maxlength="150" required>
            <br>
            <button type="submit">Signup</button>
        </form>
        {% if error_message %}<p>{{ error_message }}</p>{% endif %}
    </div>
{% endblock content %}
