<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project List</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'project_list' %}">Projects</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                {% if projects %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>{{ project.num_tasks }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You are not assigned to any projects.</p>
                {% endif %}
            </div>
        </main>
        <footer>
            <p>thanks for visiting</p>
        </footer>
    </body>
</html>
